# Node
node_modules/

# Env
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Coverage
coverage/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build/output
build/
dist/

# Misc
*.pid
*.seed
*.pid.lock

# Runtime data
pids/
